// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_owned_projects {
    margin: 50px 700px;
}
.user_backed_projects{
    margin: 50px 700px;
}
.profile_title{
    margin: 50px 700px;
}
